body{
    margin: 0;
    padding: 0;
    font-family: 'Garmond', monospace;
}

body{
    background: #17aee5;
}

.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100vw;
    height: auto;
}

.form {
    background: #fff;
    width: 50%;
    height: 55%;
    border-radius: 5px;
    box-shadow: 2px 2px 12px rgb(46, 45, 45);
    display: flex;
    justify-content: flex-start;
    margin-top: 130px;
}
.content-container{
    width: 60%;
    padding: 20px;
    margin: 10px;
}
.content-container h2{
    margin-bottom: 0px;
    border-left:3px solid #17aee5;
    padding-left: 5px;
}
.content-container .field{
    margin-top: 20px;
}
.content-container label{
    width: 100%;
    display: block;
    margin-bottom: 3px;
    color:#000;
}
.content-container input{
    width: 90%;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 5px;
}
.content-container p {
    margin: 0;
    margin-top: 3px;
    font-size: 15px;
}
.content-container button{
    width: 93%;
    border-radius: 4px;
    border: 3px solid transparent;
    padding: 7px;
    text-align: center;
    color: white;
    /* background: #17aee5; */
    margin-top: 20px;
    background-image: linear-gradient(to right, #3a7bd5 20%, #17aee5 100%);
    box-shadow: 1px 1px 12px #17aee5;
    font-size: 18px;
}
.content-container button:hover{
    cursor: pointer;
    background-image: linear-gradient(to left, #3a7bd5 20%, #17aee5 100%);
}
.img-wrapper{
    width: 35%;
    /* margin-left:10px; */
    display: flex;
}
.img-wrapper img{
    max-width: 100%;
    min-width: 100%;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
@media (max-width: 700px){
    .form {
        /* background: #fff; */
        width: 70%;
        /* height: 55%;
        border-radius: 5px;
        box-shadow: 2px 2px 12px rgb(46, 45, 45);
        display: flex;
        justify-content: flex-start;
        margin-top: 130px; */
    }
}
@media (max-width: 500px){
    .form{
        width: 85%;
    }
}

@media (max-width: 350px){
    .content-container{
        width: 100%;
    }
    .img-wrapper{
        width: 0%;
    }
}